.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-Container {
  display: flex;
  right: auto;
  width: 100%;
  margin-right: auto;

  background-color: LightGrey;
  padding: 50 px;
}

.Rooms-Container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  box-shadow: 1px 1px 5px Black;
  background-color: Grey;
  padding: 50 px;
}

.Message-Container {
  display: flex;
  right: auto;
  width: 100%;
  margin-right: auto;
  box-shadow: 1px 1px 5px Black;
  background-color: PowderBlue;
  padding: 50 px;
}

.User-Container{
  display: flex;
  right: auto;
  width: 100%;
  margin-right: auto;

  background-color: LightGrey;
  padding: 50 px;
}
