.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, RoyalBlue, purple);
  box-shadow: 1px 1px 150px Blue;
  color: Yellow;
  -webkit-text-stroke: 0.5px Black;
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-Container {
  display: flex;
  width: 100vw;
  background-image: linear-gradient(to bottom right, blue, Purple);
  padding: 50 px;
}

.Rooms-Container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  background-color: RoyalBlue;
}

.Message-Container {
  display: flex;
  width: 100%;
  box-shadow: 1px 1px 150px Blue;
  background-color: white;
  color: black;
  padding: 20px;
}
.CheckboxContainer{
  display: flex;
  bottom: 100%;
  width: 100%;
  height: 25%;
  margin-right: auto;
  box-shadow: 1px 1px 150px Yellow;
  background-image: linear-gradient(to bottom right, blue, orange);
  padding: 20px;
}
.Checkbox{
  display: flex;
  bottom: 100%;
  width: 100%;
  height: 25%;
  margin-right: auto;
  background-color: RoyalBlue;
  padding: 20px;
}
.User-Container{
  display: flex;
  width: auto;
  box-shadow: 1px 1px 250px Blue;
  background-image: linear-gradient(to bottom right, Magenta, RoyalBlue);
  padding: 50 px;
}

h1 {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, blue, purple);
}
html, body, .app {
  margin: 0;
  padding: 0;
  position: relative;
  width: auto;
  height: auto;
  background-image: linear-gradient(to bottom right, Blue, Purple);
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: linear-gradient(to bottom right, RoyalBlue, Magenta);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background-image: linear-gradient(to bottom right, RoyalBlue, Purple);
}

.ChangeNameForm{
  background-color: RoyalBlue;
}

.MessageSubmit{
  width: 100%;
  padding: 20px;
  background-color: RoyalBlue;
}
.LandingStuff{
display: flex;
width: auto;
}
.Rooms{
  padding-left: 20px;
  background: RoyalBlue;
}
